*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

#text-container {
    position: absolute;
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
}

#text-container:first-child {
    margin-right: 5px;
}

#three-canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#file-input {
    position: absolute;
    z-index: 1;
}